<h2>@ViewBag.Title</h2>

<p data-bind="text: MessageToClient"></p>

<div>
    <div class="form-group">
        <label for="CustomerName">Customer Name:</label>
        <span name="CustomerName" data-bind="text: CustomerName"></span>
    </div>
    <div class="form-group">
        <label for="PONumber">P.O Number:</label>
        <span name="PONumber" data-bind="text: PONumber"></span>
    </div>
</div>

<p><a href="/" class="btn btn-default btn-sm">&laquo; Back to List</a></p>

