<h2>@ViewBag.Title</h2>

<p data-bind="text: MessageToClient"></p>

<div>
    <div class="form-group">
        <label class="control-label" for="CustomerName">Customer Name:</label>
        <input class="form-control"  name="CustomerName" data-bind="value: CustomerName, event: {change: flagSalesOrderAsEdited}" />
    </div>
    <div>
        <label class="control-label" for="PONumber">P.O Number:</label>
        <input class="form-control" name="PONumber" data-bind="value: PONumber, event: {change: flagSalesOrderAsEdited}" />
    </div>
</div>

<p><button class="btn btn-primary"  data-bind="click: save">Save</button></p>

<p><a href="/" class="btn btn-default btn-sm">&laquo; Back to List</a></p>