<h2>@ViewBag.Title</h2>

<p data-bind="text: MessageToClient"></p>

<div>
    <div class="form-group">
        <label class="control-label" for="CustomerName">Customer Name:</label>
        <input class="form-control" name="CustomerName" id="CustomerName" data-bind="value: CustomerName, event: {change: flagSalesOrderAsEdited}" />
    </div>
    <div class="form-group">
        <label class="control-label" for="PONumber">P.O. Number:</label>
        <input class="form-control" name="PONumber" id="PONumber" data-bind="value: PONumber, event: {change: flagSalesOrderAsEdited}" />
    </div>

    <table class="table table-striped">
        <tr>
            <th>Product Code</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th><button class="btn btn-info btn-xs" data-bind="click: addSalesOrderItem">Add</button></th>
        </tr>
        <tbody data-bind="foreach: SalesOrderItems">
            <tr>
                <td class="form-group"><input class="form-control input-sm" data-bind="value: ProductCode, event: {change: flagSalesOrderItemAsEdited}, hasfocus=true" /></td>
                <td class="form-group"><input class="form-control input-sm" data-bind="value: Quantity" /></td>
                <td class="form-group"><input class="form-control input-sm" data-bind="value: UnitPrice" /></td>
                <td class="form-group">Delete</td>
            </tr>
        </tbody>
    </table><br />
    https://stackoverflow.com/questions/9261296/how-to-debug-template-binding-errors-for-knockoutjs
    1.<div data-bind="text: ko.toJSON($data)"></div><br />
    2.<pre data-bind="text: JSON.stringify(ko.toJS($data), null, 2)"></pre><br />
    3.<pre data-bind="text: ko.toJSON($data, null, 2)"></pre><br />

</div>

<p><a class="btn btn-default btn-sm" href="/">&laquo; Back to List</a></p>

<p><button class="btn btn-primary" data-bind="click: save">Save</button></p>


