@model SolutionName.Web.ViewModels.SalesOrderViewModel
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Delete Sales Order Details";
}

@{ string data = new JavaScriptSerializer().Serialize(Model);}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/salesorderviewmodel.js"></script>
    <script type="text/javascript">

    var salesOrderViewModel = new salesOrderViewModel(@Html.Raw(data));
    //debugger
    ko.applyBindings(salesOrderViewModel);
    </script>
}

@Html.Partial("_DisplaySalesOrder")

<p><button data-bind="click: save">Delete</button></p>

