@model SolutionName.Web.ViewModels.SalesOrderViewModel
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Delete this Sales Order";
}

@{ string data = new JavaScriptSerializer().Serialize(Model);}

@section scripts{
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/salesorderviewmodel.js"></script>
    <script type="text/javascript">
        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));
        ko.applyBindings(salesOrderViewModel);
    </script>
}

@Html.Partial("_DisplaySalesOrder")

<p><button class="btn btn-danger" data-bind="click: save">Delete</button></p>

